<section class="advantages">
  <div class="container section-indentation container-adventuges">
    <div class="adventuges-description">
      <ul class="adventuges-list">
        <li class="adventuges-list-item">
          <p class="adventuges-description-number">01</p>
          <p class="adventuges-description-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="adventuges-list-item">
          <p class="adventuges-description-number">02</p>
          <p class="adventuges-description-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="adventuges-list-item">
          <p class="adventuges-description-number">03</p>
          <p class="adventuges-description-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="adventuges-list-item">
          <p class="adventuges-description-number">04</p>
          <p class="adventuges-description-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ul>
    </div>
    <div class="container-adventufes-img">
      <picture>
        <source
          srcset="
            ./img/decktop-1440/1440-advantages.webp 1x,
            ./img/decktop-1440/1440-advantages@2x.webp 2x
          "
          media="(min-width: 1440px)"        
        />
        <source
          srcset="
            ./img/decktop-1280/1280-advantages.webp    1x,
            ./img/decktop-1280/1280-advantages@2x.webp 2x
          "
          media="(min-width: 1280px)"        
        />
        <source
          srcset="
            ./img/tablet/tablet-advantages.webp    1x,
            ./img/tablet/tablet-advantages@2x.webp 2x
          "
          media="(min-width: 768px)"        
        />
        <source
          srcset="
            ./img/mobile/mobile-advantages.webp    1x,
            ./img/mobile/mobile-advantages@2x.webp 2x
          "
          media="(max-width: 767px)"        
        />
        <img
          class="adventuges-img"
          src="./img/mobile/mobile-advantages.webp"
          alt="Yacht view"
          loading="lazy"        
        />
      </picture>
    </div>
  </div>
</section>
