
<!--======================================== FOOTER ======================================= -->
 <footer class="footer">
    <div class=" footer-container">
      <div class="navigation-container">
      <nav class="navigation-footer" >
<!--======================================== LOGO ======================================= -->
      <div class="footer-descr">
        <a class="logo footer-logo" href="./index.html"
          ><span class="footer-logo">yachtjet</span>
        </a>
      </div>
<!--======================================== /LOGO ======================================= -->
<!--======================================== MENU ======================================= -->
      <ul class="menu-links-footer">
        <li class="items-links-footer">
          <a class="links-footer" href="#about-us">about</a>
        </li>
  
        <li class="items-links-footer">
          <a class="links-footer" href="#our-jachts">yachts</a>
        </li>
  
        <li class="items-links-footer">
          <a class="links-footer" href="#reviews">reviews</a>
        </li>
      </ul>
<!--======================================== /MENU ======================================= -->


<!--======================================== SOCIAL LINKS ======================================= -->
      
      <ul class="menu-social-footer">
        <li class="items-social-footer">
          <a
            class="links-social-footer"
            target="_blank"
            href="https://www.instagram.com/goitclub/">
            <svg
              class="icon-social-footer"
              width="24"
              height="24"
              aria-label="icon-instagram">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="items-social-footer">
          <a
            class="links-social-footer"
            target="_blank"
            href="https://www.youtube.com/c/GoIT">
            <svg
              class="icon-social-footer"
              width="24"
              height="24"
              aria-label="icon-youtube">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="items-social-footer">
          <a
            class="links-social-footer"
            target="_blank"
            href="https://www.facebook.com/goITclub/">
            <svg
              class="icon-social-footer"
              width="24"
              height="24"
              aria-label="icon-facebook">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
<!--======================================== /SOCIAL LINKS ======================================= -->
    </nav>
  </div>
    
<!--======================================== SLOGAN ======================================= -->
      <div class="footer-slogan">
        <p class="footer-slogan-text">
          No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
      </p>
      </div>
<!--======================================== PRIVACY ======================================= -->
      <div class="footer-privacy">
        <p class="footer-privacy-p">
          2023. Yacht Adventure
        </p>
        <p class="footer-privacy-p">
          Privacy Police
        </p>
      </div>
    </div>
  </footer>

  
   
   
  

    
   