<body>
  <header class="header">
    <div class="container-header container">
      <nav class="navigation-header">
        <!-- LOGO -->
        <a class="logo" href="./index.html">yachtjet</a>
        <!-- LOGO -->

        <!-- LINKS -->
        <ul class="menu-links-header">
          <li class="items-links-header">
            <a class="link-header" target="_blank" href="#about-us">about</a>
          </li>

          <li class="items-links-header">
            <a class="link-header" target="_blank" href="#our-yachts">yachts</a>
          </li>

          <li class="items-links-header">
            <a class="link-header" target="_blank" href="reviews">reviews</a>
          </li>
        </ul>
        <!-- LINKS -->

        <!-- SOCIAL MEDIA -->
        <ul class="menu-social-header">
          <li class="items-social-header">
            <a
              class="link-social-header"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
            >
              <svg
                class="icon-social"
                width="24"
                height="24"
                aria-label="icon-instagram"
              >
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="items-social-header">
            <a
              class="link-social-header"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg
                class="icon-social"
                width="24"
                height="24"
                aria-label="icon youtube"
              >
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="items-social-header">
            <a
              class="link-social-header"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
            >
              <svg
                class="icon-social"
                width="24"
                height="24"
                aria-label="icon-facebook"
              >
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- SOCIAL MEDIA -->
      </nav>
      <button class="burger-menu" type="button">
        <svg
          class="burger-icon"
          width="28"
          height="28"
          aria-label="icon menu open"
        >
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </header>
</body>
