<div class="modal-window is-open">
  <div class="modal-container container">
    <div class="modal-menu-logo">
      <a class="menu-logo link" href="./index.html">yachtjet</a>
      <button class="modal-menu-close-btn" type="button">
        <svg
          class="modal-menu-close-btn-icon"
          width="28"
          height="28"
          aria-label="modal-menu-close-icon"
        >
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="modal-menu-navigation">
      <ul class="modal-menu-list list">
        <li class="modal-menu-item">
          <a class="link modal-menu-link" href="./index.html">About</a>
        </li>
        <li class="modal-menu-item">
          <a class="link modal-menu-link" href="">Yachts</a>
        </li>
        <li class="modal-menu-item">
          <a class="link modal-menu-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="modal-menu-social-group">
      <ul class="modal-menu-social-list list">
        <li class="modal-menu-social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="modal-social-list-link"
          >
            <svg
              class="modal-sociale-list-icon"
              width="24"
              height="24"
              aria-label="instagram"
            >
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="modal-social-list-link"
          >
            <svg
              class="modal-sociale-list-icon"
              width="24"
              height="24"
              aria-label="YouTube"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="modal-social-list-link"
          >
            <svg
              class="modal-sociale-list-icon"
              width="24"
              height="24"
              aria-label="facebook"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
