<section class="reviews" id="reviews">
   
        <div class="container-rev">
          <h2 class="review-title">YachtJet take pride in providing the best possible service and experience to our
            customers
          </h2>
          <p class="review-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word
            for
            it - read on to find out
            what they have to say about their journey with us.</p>
          <div class="reviews-container">
            <ul class="reviews-list">
              <li class="reviews-list-item">
                <img class="reviewer-img" src="../img/reviews/review-1.png" height="56" width="56" alt="reviewerJohn image">
                </img>
                <div class="reviewer">
                  <h2 class="reviewer-title">John Wax</h2>
                  <p class="reviewer-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the
                    best decision ever. The yacht was
                    spacious, comfortable, and luxurious, and the crew took care of everything.</p>
                </div>
              <li class="reviews-list-item second-rev-item">
                <img class="reviewer-img" src="../img/reviews/review-2.png" height="56" width="56" alt="reviewer Victoria image">
                </img>
                <div class="reviewer">
                  <h2 class="reviewer-title">Victoria Romashenko</h2>
                  <p class="reviewer-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The
                    yacht was
                    beautifully designed, with all
                    the amenities we needed, and the crew was attentive and friendly.</p>
                </div>
              <li class="reviews-list-item third-rev-item">
                <img class="reviewer-img" src="../img/reviews/review-3.png" height="56" width="56" alt="reviewer Ihor image">
                </img>
                <div class="reviewer">
                  <h2 class="reviewer-title">Ihor Trachuk</h2>
                  <p class="reviewer-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were
                    spacious and elegant, and the outdoor
                    areas were perfect for relaxing and entertaining. Worth every penny!</p>
                </div>
            </ul>
          </div>
        </div>
</section>
