body {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  font-size: 16px;
  background-color: #0e1823;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-indentation {
  padding: 75px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
