.hero {
  padding: 260px 0 302px;
  background-position: center;
  background-color: #040306;
  background-size: cover;
}

.hero-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.hero-text {
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.16;
  margin-bottom: 38px;
}

.button-hero {
  display: flex;
  max-width: 141px;
  padding: 14px;
  border-radius: 15px;
  border: none;
  background-color: #1b414b;
  justify-content: center;
  margin: 0 auto;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.hero {
  background-image: linear-gradient(
      359deg,
      rgba(17, 19, 31, 0.8) 42.62%,
      rgba(17, 19, 31, 0.31) 84.12%,
      rgba(17, 19, 31, 0) 99.94%
    ),
    url(/img/mobile/mobile-bg-img.webp);
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        359deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%
      ),
      url(/img/mobile/mobile-bg-img@2x.webp);
    background-size: cover;
  }
}

@media screen and (min-width: 376px) {
  .hero {
    background-image: linear-gradient(
        359deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%
      ),
      url(/img/tablet/tablet-bg-img.webp);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          359deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.12%,
          rgba(17, 19, 31, 0) 99.94%
        ),
        url(/img/tablet/tablet@2x.webp);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 280px 0 282px;
  }

  .hero-title {
    font-size: 70px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 704px;
  }

  .hero-text {
    max-width: 597px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
  }

  .button-hero {
    max-width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .hero-container {
    max-width: 704px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-hero {
    max-width: 179px;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .hero {
    padding: 235px 0 215px;
    background-image: linear-gradient(
        359deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%
      ),
      url(/img/decktop-1280/1280-bg-img.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          359deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.12%,
          rgba(17, 19, 31, 0) 99.94%
        ),
        url(/img/decktop-1280/1280-bg-img@2x.webp);
    }
  }

  .hero-title {
    max-width: 1001px;
    font-size: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 235px 0 215px;
    background-image: linear-gradient(
        359deg,
        rgba(17, 19, 31, 0.8) 42.62%,
        rgba(17, 19, 31, 0.31) 84.12%,
        rgba(17, 19, 31, 0) 99.94%
      ),
      url(/img/decktop-1440/1440-bg-img.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          359deg,
          rgba(17, 19, 31, 0.8) 42.62%,
          rgba(17, 19, 31, 0.31) 84.12%,
          rgba(17, 19, 31, 0) 99.94%
        ),
        url(/img/decktop-1440/1440-bg-img@2x.webp);
    }
  }
}
