.our-yachts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-yachts-title {
  color: #fbfbfb;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
  width: 319px;
}
.our-yachts-list {
  margin-bottom: 40px;
}
.our-yachts-item {
  min-width: 320px;
}

.our-yachts-illustration {
  margin-bottom: 32px;
}
.our-yachts-wrapper-item {
  padding: 16px;
  background-color: #fbfbfb;
  border-radius: 24px;
}
.our-yachts-wrapper-info {
  padding: 16px;
}
.our-yachts-wrapper-name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.our-yachts-wrapper-name::after {
  position: absolute;
  left: 0;
  bottom: -16px;
  background-color: rgba(4, 3, 6, 0.1);
  width: 100%;
  height: 1px;
  content: '';
}
.our-yachts-title-jachts {
  color: #1b414b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.63px;
  text-transform: uppercase;
}
.our-yachts-class-jachts {
  color: rgba(4, 3, 6, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.our-yachts-list-attribute {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.our-yachts-item-attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-yachts-attribute {
  color: rgba(4, 3, 6, 0.4);
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.our-yachts-attribute-value {
  color: #040306;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.42px;
}

.our-yachts-button {
  display: inline-flex;
  padding: 14px 32px;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.28px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-yachts-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media (max-width: 767px) {
  .our-yachts-item-2,
  .our-yachts-item-3 {
    display: none;
  }
}
@media (max-width: 1279px) {
  .our-yachts-item-3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .our-yachts-title {
    font-size: 48px;
    letter-spacing: -0.96px;
    width: 645px;
  }

  .our-yachts-list {
    display: flex;
    gap: 31px;
  }

  .our-yachts-wrapper-item {
    width: 336px;
  }

  .our-yachts-illustration {
    width: 304px;
    height: 268px;
  }

  .our-yachts-wrapper-name-span {
    display: flex;
    justify-content: left;
  }

  .our-yachts-title-jachts {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.72px;
    inline-size: 133px;
    word-break: break-all;
    height: 19px;
    overflow: hidden;
  }
  .our-yachts-title-span {
    color: #1b414b;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.72px;
  }
  .our-yachts-class-jachts {
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.39px;
    text-transform: uppercase;
  }
  .our-yachts-button {
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.36px;
  }
}
@media (min-width: 1280px) {
  .our-yachts-title {
    width: 714px;
  }

  .our-yachts-list {
    gap: 23px;
  }
  .our-yachts-wrapper-item {
    width: 377px;
  }

  .our-yachts-illustration {
    width: 304px;
    height: 268px;
  }
  .our-yachts-title-jachts {
    inline-size: 160px;
  }
}
@media (min-width: 1440px) {
  .our-yachts-list {
    gap: 31.5px;
  }
  .our-yachts-wrapper-item {
    width: 392px;
  }

  .our-yachts-illustration {
    width: 360px;
    height: 268px;
  }
}
