.rent-a-yacht {
  padding-bottom: 80px;
}
.rent-a-yacht-title {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.rent-a-yacht-form-input {
  width: 100%;
  height: 42px;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 1.17;
  font-size: 12px;
  line-height: 1.117;
  padding-left: 18px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rent-a-yacht-form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-a-yacht-form-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.rent-a-yacht-form-textarea {
  width: 100%;
  height: 108px;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 1.17;
  padding: 14px 18px;
  margin-bottom: 40px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  outline: 0px solid transparent;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rent-a-yacht-form-textarea:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.rent-a-yacht-form-textarea::placeholder {
  color: rgba(251, 251, 251, 0.4);
}
.rent-a-yacht-form-btn {
  display: block;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  width: 122px;
  height: 46px;
  border-radius: 15px;
  background: #1b414b;
  border: none;
  margin-bottom: 80px;
}

.rent-a-yacht-form-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
.rent-a-yacht-form-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rent-a-yacht-picture {
  border-radius: 24px;
}

/* TABLET RENT A YACHT STYLES */
@media screen and (min-width: 768px) {
  .rent-a-yacht-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .rent-a-yacht-form {
    width: 472px;
  }
  .rent-a-yacht-form-input {
    width: 472px;
    height: 54px;
  }
  .rent-a-yacht-form-textarea {
    width: 472px;
    height: 116px;
    margin-bottom: 50px;
  }
  .rent-a-yacht-form-btn {
    width: 194px;
    height: 56px;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 1279px) {
    .rent-a-yacht-form-container {
      padding: 0 116px;
    }
  }
}

/* DESKTOP RENT A YACHT STYLES */
@media screen and (min-width: 1280px) {
  .rent-a-yacht {
    display: flex;
  }
  .rent-a-yacht-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .rent-a-yacht-form-container {
    margin-left: 50px;
  }
  .rent-a-yacht-form-btn:hover {
    background-color: #fbfbfb;
    color: #1b414b;
  }
}

@media screen and (min-width: 1440px) {
  .rent-a-yacht-form-container {
    padding-right: 50px;
  }
}
